.navigation {
    border: solid 1px red;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
}

.navigation a {
    text-transform: uppercase;
    text-decoration: none;
    margin: auto 10px;
}

.brand {
    display: block;
    text-align: center;
    width: 50px;
    margin: auto;
    border: solid 1px green;
}

.pageContent {
    border: solid 1px blue;
    margin: auto;
    min-width: 900px;
    width: 66%;
    box-sizing: border-box;

    padding: 50px;
    text-align: justify;
}