.navigation {
    border: solid 1px red;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
    
    background: rgba(0, 0, 0, 0.5);
    font-family: var(--headerfont);
}

.navigation a {
    margin: auto 10px;
    text-transform: uppercase;
}

.brand {
    display: block;
    text-align: center;
    margin: auto;
    border: solid 1px green;
    font-family: var(--monofont);
    text-transform: lowercase;
}

.pageContent {
    border: solid 1px blue;
    margin: auto;
    min-width: 900px;
    width: 66%;
    box-sizing: border-box;

    padding: 50px;
    text-align: justify;

    flex-grow: 1;

    background: rgba(0, 0, 0, 0.5);
}